<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>短网址</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/a/index}" th:object="${dto}" method="post">
    <p>原地址：<input type="text" th:field="*{longUrl}" value=""/></p>
    <p><input type="submit" value="Submit"/> </p>
</form>
<div>
    <p>短地址：<a th:text="${vo.getShortUrl()}" th:href="${vo.getShortUrl()}"></a></p>
    <p>生效时间：<a th:text="${vo.getEffectTime()}"></a></p>

</div>

</body>
</html>